<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
      <div class="col-xs-12">
        <img 
            [src]="imageAddress" 
            alt="foodItem.name"
            class="img-responsive"
            style="max-height: 300px;">
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ foodItem.name }}</h1>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <p>{{ foodItem.description }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>LKR {{ foodItem.price }} only</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-4">
        <button
          class="btn btn-block btn-dark" 
          role="button" 
          (click)="updateCart()">
          {{ itemStatus }}
        </button>
      </div>
    </div>
  </div>